




$secondaryColor: rgba(242,242,242, 0.4);

$backgroundColorNews:#fff;
$backgroundColor: #f6f7f8;
$backgroundColor2: #eceff1;

$textColor: #1b262c;
$textColor1: #adb6bb;

$mainColor: $textColor;

$buttonColor: $textColor;

$containerBackgroundColor: $secondaryColor;


